:root{
    --fundo-escuro: #000;
    --fundo-card: #1B2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: rgba(255, 255, 255, 0.90);
    --texto-secundario: rgba(255, 255, 255, 0.60);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70B5F9;
    --positivo: #3ec786;
    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
}

  body {
    font-family: var(--font-principal);
    font-size: 14px;
    font-style: normal;
    background-color: var(--fundo-escuro);
    color: var(--font-principal);
}

/* LOGO-INPUT : NAVBAR */

.cabecalho__container {
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    background-color: var(--fundo-card);
    display: grid;
    grid-template-columns: 154px 322px 100px 400px;
    z-index: 5;
}

.cabecalho__logo-pesquisar {
    grid-column: 2/3;
}

.cabecalho__nav {
    grid-column: 4/5;
}

/* LOGO : INPUT PESQUISAR */

.cabecalho__logo-pesquisar {
    display: flex;
    column-gap: 8px;
}

.cabecalho__pesquisar { 
    display: flex;
    align-items: center;
}

.cabecalho__pesquisar img{
    position: absolute;
    z-index: 1;
    padding-left: 8px;
}

.cabecalho__pesquisar input {
    border: none;
    outline: none;
    width: 280px;
    height: 34px;
    border-radius: 4px;
    background-color: var(--input);
    color: var(--font-principal);
    caret-color: var(--texto-principal);
    text-indent: 40px;
}

::placeholder {
    color: var(--texto-principal);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 14px;
}

/* NAVBAR */

.cabecalho__nav {
    display: flex;
    align-items: center;
    width: 488px;
    height: 100%;
    column-gap: 10px;
}

.cabecalho__nav__container-icones {
    display: flex;
    column-gap: 27px;
    width: 400px;
    height: 38px;
    justify-content: flex-end;
}

.cabecalho__nav__icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(171, 171, 171);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 12px;
    row-gap: 2px;
}

.cabecalho__nav__icones:hover p {
    color: rgba(255, 255, 255, 0.90);
}

.cabecalho__nav__icones:hover path {
    fill: rgba(255, 255, 255, 0.90);
}

.cabecalho__nav-linha {
    width:1px;
    height: 52px;
    background-color: var(--texto-secundario);
}

.cabecalho__nav-solucoes {
    padding-left: 8px;
}

/* MAIN GRID */

.feed__container {
    display: grid;
    grid-template-rows: 52px 24px auto;
    grid-template-columns: 154px 780px 32px 320px 154px;
}

.feed__central {
    grid-row: 3/4;
    grid-column: 2/3;
}   

.feed__lateral {
    grid-row: 3/4;
    grid-column: 4/5;
}

/* FEED CENTRAL */

.feed__central {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 14px;
}

.feed__principal {
    background-color: var(--fundo-card);
    width: 780px;
    height: 468px;
    border-radius: 16px;
}

.feed__destaques {
    background-color: var(--fundo-card);
    width: 780px;
    height: 312px;
    border-radius: 16px;
}

.feed__atividades {
    background-color: var(--fundo-card);
    width: 780px;
    height: 371px;
    border-radius: 16px;
}

.feed__sobre {
    background-color: var(--fundo-card);
    width: 780px;
    height: 134px;
    border-radius: 16px;
}

.feed__experiencias {
    background-color: var(--fundo-card);
    width: 780px;
    height: 358px;
    border-radius: 16px;
}

.feed__formacao-academicas {
    background-color: var(--fundo-card);
    width: 780px;
    height: 127px;
    border-radius: 16px;
}

.feed__idiomas {
    background-color: var(--fundo-card);
    width: 780px;
    height: 178px;
    border-radius: 16px;
}

/* FEED LATERAL */

.feed__lateral {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.feed__lateral__recomendacoes {
    background-color: var(--fundo-card);
    width: 320px;
    height: 546px;
    border-radius: 16px;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--fundo-card);
}
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--input);
    border-radius: 5px;
}

/* CARD PRINCIPAL */

.feed__principal {
    position: relative;
}

.feed__principal__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url('/src/img/imagens/imagemCapa.png');
    background-repeat: no-repeat;
    z-index: 1
}

/* FOTO PERFIL */
.feed__principal__foto-perfil {
    border-radius: 50%;
    border: 4px solid var(--fundo-card);
    width: 160px;
    height: 160px;
    margin-bottom: 190px;
    z-index: 2;
    position: absolute;
    margin-left: 24px;
}

/* INFORMAÇÕES PERFIL */

.feed__principal {
    display: flex;
    align-items: flex-end;
}

.feed__principal__informacoes {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.feed__principal__informacoes-nome {
    color: var(--texto-principal);
    font-size: 24px;
    font-weight: 700;
}

.feed__principal__informacoes-linguagens {
    color: var(--texto-principal);
    font-size: 16px;
    font-weight: 700;
}

.feed__principal__informacoes-tags {
    color: var(--texto-secundario);
    font-size: 14px;
    font-weight: 400;
}

.feed__principal__informacoes__texto-container {
    display: flex;
    column-gap: 8px;
}

.feed__principal__informacoes-destaque {
    color: var(--primario);
    font-size: 14px;
    font-weight: 700;
}

.feed__principal__informacoes-seguidores {
    display: flex;
    column-gap: 8px;
}

.feed__principal__informacoes-seguidores p {
    color: var(--primario);
    font-size: 14px;
    font-weight: 700;
}

.feed__principal__informacoes-botao {
    display: flex;
    column-gap: 7px;
}

.feed__principal__informacoes-botao1 {
    width: 128px;
    height: 32px;
    border-radius: 16px;
    border: none;
    font-family: var(--font-principal);
    background-color: var(--primario);
    font-size: 14px;
    font-weight: 500;
}

.feed__principal__informacoes-botao2 {
    width: 128px;
    height: 32px;
    border-radius: 16px;
    border: none;
    border: 1px solid var(--primario);
    color: var(--primario);
    font-family: var(--font-principal);
    background-color: var(--fundo-card);
    font-size: 14px;
    font-weight: 500;
}

/* DETALHES CARREIRA */

.feed__principal {
    display: flex;
    
}

.feed__principal__informacoes-detalhes-carreira {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 110px;
    margin-left: 129px;
}

.feed__principal__informacoes-detalhes-carreira-empresa {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--texto-principal);
    font-size: 16px;
    font-weight: 600;
}

.feed__principal__informacoes-detalhes-carreira-instituicao {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--texto-principal);
    font-size: 16px;
    font-weight: 600;
}

.feed__principal__informacoes-detalhes-carreira-empresa img {
    width: 32px;
    height: 32px;
}

.feed__principal__informacoes-detalhes-carreira-instituicao img {
    width: 32px;
    height: 32px;
}

/* DESTAQUES */

.destaques__titulo {
    font-size: 20px;
    font-weight: 600;
    color: var(--texto-principal);
    padding: 16px 0 0 24px;
}

.destaques__container{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    column-gap: 19px;
}

.destaques__card {
    display: grid;
    grid-template-rows: 30px 20px auto 1fr;
    grid-template-columns: 50% 50%;
    width: 236.4px;
    height: 234.4px;
    border: 1px solid var(--texto-secundario);
    border-radius: 8px;
}

.destaques__card-tipo {
    grid-row: 1/2;
    grid-column: 1/3;
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    align-self: end;
    margin-left: 14px;
}

.destaques__card-titulo {
    grid-row: 2/3;
    grid-column: 1/3;
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-principal);
    align-self: end;
    margin-left: 14px;
}

.destaques__card-imagens {
    width: 236px;
    height: 152px;
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 6px;
}

.destaques__card-reacoes {
    display: flex;
    column-gap: 5px;
    align-items: center;
    grid-row: 4/5;
    grid-column: 1/2;
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    align-self: center;
    justify-self: start;
    margin-left: 5px;
}

.destaques__card-comentarios {
    grid-row: 4/5;
    grid-column: 2/3;
    font-family: var(--font-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--texto-secundario);
    align-self: center;
    justify-self: end;
    margin-right: 5px;
}

/* ATIVIDADES */
.atividades-img {
    width: 64px;
    height: 64px;
}

.atividades-seguidores {
        color: var(--primario);
        margin: 5px 0 0 23px;
        font-weight: 500;
}

.atividades-img-texto {
    display: flex;
    column-gap: 10px;
}

.atividades-titulo {
    display: flex;
    column-gap: 5px;
    color: var(--texto-secundario);
    font-weight: 400;
}

.atividades-container {
    display: flex;
    width: 734px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 12px;
    margin-top: 15px;
    margin-left: 23px;
}

.atividades-texto {
    color: var(--texto-principal);
    line-height: 20px;
    font-weight: 400;
    width: 662px;
}

.linha-separacao {
    border-color: var(--texto-secundario);
    width: 93%;
    text-align: center;
}

.linha-separacao-2 {
    border-color: var(--texto-secundario);
    width: 100%;
    text-align: center;
}

.atividades-final {
    text-align: center;
    color: var(--texto-secundario);
}









