:root{
    --fundo-escuro: #000;
    --fundo-card: #1B2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: rgba(255, 255, 255, 0.90);
    --texto-secundario: rgba(255, 255, 255, 0.60);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70B5F9;
    --positivo: #3ec786;
    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
}

  body {
    font-family: var(--font-principal);
    font-size: 14px;
    font-style: normal;
    background-color: var(--fundo-escuro);
    color: var(--font-principal);
}

/* LOGO-INPUT : NAVBAR */

.cabecalho__container {
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--fundo-card);
    display: grid;
    grid-template-columns: 154px 322px 100px 400px;
    align-items: center;
}

.cabecalho__logo-pesquisar {
    grid-column: 2/3;
}

.cabecalho__nav {
    grid-column: 4/5;
}

/* LOGO : INPUT PESQUISAR */

.cabecalho__logo-pesquisar {
    display: flex;
    column-gap: 8px;
}

.cabecalho__pesquisar { 
    position: relative;
    display: flex;
    align-items: center;
}

.cabecalho__pesquisar img{
    position: absolute;
    z-index: 1;
    padding-left: 8px;
}

.cabecalho__pesquisar input {
    position: relative;
    border: none;
    outline: none;
    width: 280px;
    height: 34px;
    border-radius: 4px;
    background-color: var(--input);
    color: var(--font-principal);
    caret-color: var(--texto-principal);
    text-indent: 40px;
}

::placeholder {
    color: var(--texto-principal);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}

/* NAVBAR */

.cabecalho__nav {
    display: flex;
    align-items: center;
    width: 488px;
    height: 100%;
    column-gap: 10px;
}

.cabecalho__nav__container-icones {
    display: flex;
    column-gap: 27px;
    width: 400px;
    height: 38px;
    justify-content: flex-end;
}

.cabecalho__nav__icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(171, 171, 171);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 12px;
    row-gap: 2px;
}

.cabecalho__nav__icones:hover p {
    color: rgba(255, 255, 255, 0.90);
}

.cabecalho__nav__icones:hover path {
    fill: rgba(255, 255, 255, 0.90);
}

.cabecalho__nav-linha {
    width:1px;
    height: 52px;
    background-color: var(--texto-secundario);
}

.cabecalho__nav-solucoes {
    padding-left: 8px;
}

/* MAIN GRID */

.feed__container {
    display: grid;
    grid-template-rows: 52px 24px auto;
    grid-template-columns: 154px 780px 32px 320px 154px;
}

.feed__central {
    grid-row: 3/4;
    grid-column: 2/3;
}   

.feed__lateral {
    grid-row: 3/4;
    grid-column: 4/5;
}

/* FEED CENTRAL */

.feed__central {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 14px;
}

.feed__principal {
    background-color: var(--fundo-card);
    width: 780px;
    height: 468px;
    border-radius: 16px;
}

.feed__destaques {
    background-color: var(--fundo-card);
    width: 780px;
    height: 312px;
    border-radius: 16px;
}

.feed__atividades {
    background-color: var(--fundo-card);
    width: 780px;
    height: 371px;
    border-radius: 16px;
}

.feed__sobre {
    background-color: var(--fundo-card);
    width: 780px;
    height: 134px;
    border-radius: 16px;
}

.feed__experiencias {
    background-color: var(--fundo-card);
    width: 780px;
    height: 358px;
    border-radius: 16px;
}

.feed__formacao-academicas {
    background-color: var(--fundo-card);
    width: 780px;
    height: 127px;
    border-radius: 16px;
}

.feed__idiomas {
    background-color: var(--fundo-card);
    width: 780px;
    height: 178px;
    border-radius: 16px;
}

/* FEED LATERAL */

.feed__lateral {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.feed__lateral__recomendacoes {
    background-color: var(--fundo-card);
    width: 320px;
    height: 546px;
    border-radius: 16px;
}

/* SCROLL */

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background-color: var(--fundo-card);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--input);
    border-radius: 5px;
  }







